<% content_for :title, "About"%>
<div class="flex-column">
        <div class="text-center">
            <h1> About Us</h1>
            <p> </p>
        </div>
        <div class="flex-space-between">
            <div class="flex-1">
            </div>
            <div class="flex-1">
                
            </div>
        </div>
    </div>