<% content_for :title, "About"%>
<div class="flex-column">
        <div class="text-center">
            <h1> About Us</h1>
            <p> </p>
        </div>
        <div class="flex-space-between">
            <div class="flex-1 text-center">
             <p>Based in Doncaster, established in 1989, we have over 25 years experience as a specialist Ford breaker.</p>
            <p> All of our parts are available to collect from our yard, or we can arrange delivery. Use one of the contact options to let us know what you need </p>
            </div>
           
        </div>
    </div>