<% content_for :title, "Breaking"%>
<div class="flex-column">
        <div class="text-center">
            <h1> Currently Breaking</h1>
            <p> Here are the cars that we are currently breaking.</p>

        </div>
        <div class="flex-space-between">
            <div class="flex-1">
            </div>
            <div class="flex-1">
                </div>
        </div>
    </div>