<% content_for :title, "Specialist Ford Breakers"%>

<div class="flex-column">
    <div id="pitch-text" class="text-center flex-column">
        <h1 id="pitch-title">Welcome to GA Motor Spares.</h1>
        <h2 id="pitch-body">Established in 1989, we have over 25 years experience as a specialist Ford breaker. Check our current breakers
            or request the part you need today.</h2>
    </div>
    <div id="link-container" class="">
        <%= link_to breaking_path, id: "breaking-box", class:" flex-1 text-2" do%>
            <div class="link-box bg-main">
                <p class="link-header">Currently Breaking</p>
                <p class="link-body">View current breakers.</p>
            </div>
        <% end %>
        <%= link_to parts_path, id: "parts-box",class:"flex-1 text-2" do%>
            <div class="link-box bg-main">
                <p class="link-header">Request a Part </p>
                <p class="link-body"> Need a specific part? </p>
            </div>
        <% end %>
            <%= link_to scrap_path, id: "scrap-box", class:" flex-1 text-2" do%>
                <div class="link-box bg-main">
                    <p class="link-header">Scrap your car </p>
                    <p class="link-body"> Get a quote.</p>
                </div>
            <% end %>
    </div>
</div>