<% content_for :title, "Part Request"%>
<div id="parts-container" class="flex-space-between">
    <div id ="parts-text" class="flex-1">
        <h1> Part Request </h1>
        <p> Complete the form or call us if you are looking for a specific part.</p>     
        </div>
    <%=render partial: 'messages/form', locals: {contact_type: "parts"}%>
</div>