<% content_for :title, "Scrap Your Car"%>
<div class="flex-column">
        <div class="text-center">
            <h1> Scrap your car</h1>
            <p> Looking to scrap your car? We are looking for all makes and conditions.
                    
                    Call us or leave a message with the form.</p>

        </div>
        <div class="flex-space-between">
            <div id="scrap-text" class="flex-1">
            </div>
            <%=render partial: 'messages/form', locals: {contact_type: "scrap"}%>
        </div>
    </div>