*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

#opening {
    color: #144B64;
}

#logo-container {
    font-family: 'Orbitron', sans-serif;
    padding-left: 30px;
}

#opening-2 {
    margin-top: -15px;
}

#tagline {
    margin-top: -20px;
}

#phone-num {
    padding-right: 30px;
}

#phone-num,
body,
#opening {
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #144B64;
    padding: 20px;
    font-size: 14pt;
}

#navbar a,
footer a {
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: center;
}

#logo {
    color: #144B64;
}

#phone-num,
#tagline {
    color: #05143A;
}

footer {
    padding: 10px;
    background: #144B64;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width:100%;
}

.fa {
    margin-left: 10px;
}

#sitemap a {
    margin: 10px;
    font-size: 12pt;
}

#sitemap {
    display: flex;
    justify-content: space-between;
}