
.opening {
    font-size: 14pt;
    font-weight: bold;
}

#opening-2 {
    margin-top: -15px;
}

#tagline {
    margin-top: -20px;
}

#navbar {
    padding: 20px;
    font-size: 14pt;
    margin-bottom: 10px;
}
#logo {
    font-size: 2em;
}
footer {
    margin-top: 10px;
    padding: 12px;
}

#twitter {
    margin-left: 10px;
}

#sitemap a {
    margin: 10px;
    font-size: 12pt;
}