<footer class="flex-space-between bg-main text-2 ">
  <div id="copyright"class="">
    © GA Motor Spares
    <%= Date.current.year %>
  </div>
  <div id="sitemap" class=" font-2">
    <%= render 'layouts/links'%>
  </div>
  <div id="social" >
    <a id="facebook" class="text-2"target="_blank" href="https://www.facebook.com/ga.motorspares/">
      <%= fa_icon "facebook-square 2x"%>
    </a>
  
  </div>
</footer>