<footer>
<div id="copyright">
© GA Motor Spares <%= Date.current.year %>
</div>
<div id="sitemap">
  <%= render 'layouts/links'%>
</div>
<div id="social">
    <a id="facebook" target="_blank"  href="https://www.facebook.com/ga.motorspares/"><%= fa_icon "facebook-square 2x"%></a>
    <a id="twitter" target="_blank" href="#"><%= fa_icon "twitter-square 2x"%></a>
    </div>
</footer>