<header class="flex-space-between text-1">
    <%= link_to root_path do %>
        <div id="logo-container"class="font-2 ">
            <h1 id="logo" class="text-1"> GA Motor Spares </h1>
            <p id="tagline"class="text-3"> Specialist Ford Breakers </p>
        </div>
        <%end%>
            <div id="opening-container" class="font-1 text-3">
                <p class="opening"> Mon-Thurs: 8:30am - 5pm</p>
                <p id="opening-2" class="opening"> Fri: 8:30am - 4:30pm, Sat: 9am - 1pm </p>
            </div>
            <div id="contact-container"class="font-3 text-3">
                <h1 id="phone-num"> 01302 771600 </h1>
            </div>
</header>