<header>
    <div id="logo-container">
        <h1 id="logo"> GA Motor Spares </h1>
        <p id="tagline"> Specialist Ford Breakers </p>
    </div>
   
    <div id="contact-container">
        <h1 id="phone-num"> 01302 771600 </h1>
    </div>
</header>
